@font-face {
    font-family: 'BrownLight';
    src: url('fonts/BrownLight.eot');
    src: url('fonts/BrownLight.eot') format('embedded-opentype'),
         url('fonts/BrownLight.woff2') format('woff2'),
         url('fonts/BrownLight.woff') format('woff'),
         url('fonts/BrownLight.ttf') format('truetype'),
         url('fonts/BrownLight.svg#BrownLight') format('svg');
}
